@model PharmacyValrverd.Models.EditPacienteViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Editar Paciente";
}

<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 class="panel-title text-center">Modificar Pacientes</h4></div>

        <div class="panel-body">

            <div class="form-group row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="col-sm-12 col-md-8"></div>
                    <button class="btn btn-warning" onclick="document.location.href='@Url.Content("~/Paciente/Index")'">Atras <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                </div>
            </div>

            @using (Html.BeginForm("Edit", "Paciente", FormMethod.Post, htmlAttributes: new { @id = "formEdit" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationMessage("error", new { @class = "text-danger" })

                <div class="panel panel-default">
                    <div class="panel-heading"><h5 class="panel-title">Datos Personales</h5></div>
                    <div class="panel-body">

                        <div class="form-body form-horizontal">

                            <div class="form-group row">

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.TipoId, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.RadioButtonFor(d => d.TipoId, "N", new { @class = "radio-inline" })<span> Nacional</span>
                                                    @Html.RadioButtonFor(d => d.TipoId, "E", new { @class = "radio-inline" })<span> Extranjero</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Cedula, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Cedula, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Cedula", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Nombre, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Nombre, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.PrimerApellido, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.PrimerApellido, new { @class = "form-control" })
                                                    @Html.ValidationMessage("PrimerApellido", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.SegundoApellido, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.SegundoApellido, new { @class = "form-control" })
                                                    @Html.ValidationMessage("SegundoApellido", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Sexo, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.RadioButtonFor(d => d.Sexo, "M", new { @class = "radio-inline" })<span> Masculino</span>
                                                    @Html.RadioButtonFor(d => d.Sexo, "F", new { @class = "radio-inline" })<span> Femenino</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.FechaNacimiento, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="date" class="datepicker form-control" asp-for="FechaNacimiento" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Correo, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Correo, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Correo Electronico", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Celular, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Celular, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Celular", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Telefono, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Telefono, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Telefono", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h5 class="panel-title">Domicilio</h5></div>
                    <div class="panel-body">

                        <div class="form-body form-horizontal">

                            <div class="form-group row">

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Provincia, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.DropDownListFor(d => d.Provincia, ViewBag.Provincias as List<SelectListItem>, new { @id = "Provincias", @class = "form-control" })
                                                    @Html.ValidationMessage("Provincia", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Canton, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.DropDownListFor(d => d.Canton, ViewBag.Cantones as List<SelectListItem>, htmlAttributes: new { @id = "Cantones", @class = "form-control" })
                                                    @Html.ValidationMessage("Cantón", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Distrito, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.DropDownListFor(d => d.Distrito, ViewBag.Distritos as List<SelectListItem>, htmlAttributes: new { @id = "Distritos", @class = "form-control" })
                                                    @Html.ValidationMessage("Distrito", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Direccion, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextAreaFor(d => d.Direccion, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Dirección", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h5 class="panel-title">Datos Empleo</h5></div>
                    <div class="panel-body">

                        <div class="form-body form-horizontal">

                            <div class="form-group row">

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Ocupacion, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Ocupacion, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Ocupación", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.LugarTrabajo, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextAreaFor(d => d.LugarTrabajo, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Lugar Trabajo", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.Oficina, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(d => d.Oficina, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Oficina", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>


                <div class="form-body form-horizontal">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="col-sm-12 col-md-8"></div>
                        <button class="btn btn-success">Guardar <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        $(document).ready(function () {

            $("#Provincias").change(function () {

                $("#Cantones").empty();
                $("#Cantones").attr("disabled", false);

                $.getJSON('/Paciente/ObtenerCantones', { provincia: $('#Provincias').val() },
                    function (data) {

                        $.each(data, function () {
                            $("#Cantones").append('<option value=' + this.CodigoCanton + '>' + this.NombreCanton + '</option>');
                        });
                    });
            });

            $("#Cantones").change(function () {

                $("#Distritos").empty();
                $("#Distritos").attr("disabled", false);
                $.getJSON('/Paciente/ObtenerDistritos', { canton: $('#Cantones').val() },
                    function (data) {

                        $.each(data, function () {
                            $("#Distritos").append('<option value=' + this.CodigoDistrito + '>' + this.NombreDistrito + '</option>');
                        });
                    });
            });

        });

    </script>
}
