@model List<PharmacyValrverd.Models.TableViewModels.PacienteTableViewModel>

@{
	Layout = "_Layout";
	ViewData["Title"] = "Paciente";
}

<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading text-center"><h4 class="panel-title">Pacientes</h4></div>
		<div class="panel-body table-responsive trans-opacity-5">

			<div class="form-group row">
				<div class="col-md-4"></div>
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="col-sm-2 col-md-4">
					</div>
					<div class="col-sm-5 col-md-3">
					</div>
					<div class="col-sm-5 col-md-5">
						<button class="align-middle text-center form-control btn btn-primary" onclick="document.location.href='@Url.Content("~/Paciente/Create")'">
							Nuevo <span class="glyphicon glyphicon-plus" style="text-align:center"></span>
						</button>
					</div>
				</div>
			</div>

			<table id="tablaPacientes" class="table table-bordered table-hover">
				<colgroup>
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 10%;">
					<col span="1" style="width: 5%;">
					<col span="1" style="width: 5%;">
				</colgroup>
				<thead class="thead-light">
					<tr>
						<th scope="col">Cédula</th>
						<th scope="col">Nombre</th>
						<th scope="col">1° Apellido</th>
						<th scope="col">2° Apellido</th>
						<th scope="col">Sexo</th>
						<th scope="col">Fecha Nacimiento</th>
						<th scope="col">Correo</th>
						<th scope="col">Celular</th>
						<th scope="col">Teléfono</th>
						<th scope="col">Provincia</th>
						<th scope="col">Cantón</th>
						<th scope="col">Distrito</th>
						<th scope="col">Dirección</th>
						<th scope="col">Ocupación</th>
						<th scope="col">Dir Trabajo</th>
						<th scope="col">Tel Oficina</th>
						<th scope="col">Editar</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var paciente in Model)
					{
						<tr>
							<td class="align-middle">@paciente.cedula</td>
							<td class="align-middle">@paciente.nombre</td>
							<td class="align-middle">@paciente.primerApellido</td>
							<td class="align-middle">@paciente.segundoApellido</td>
							<td class="align-middle">@paciente.sexo</td>
							<td class="align-middle">@paciente.fechaNacimiento.ToShortDateString()</td>
							<td class="align-middle">@paciente.correo</td>
							<td class="align-middle">@paciente.celular</td>
							<td class="align-middle">@paciente.telefono</td>
							<td class="align-middle">@paciente.nomProvincia</td>
							<td class="align-middle">@paciente.nomCanton</td>
							<td class="align-middle">@paciente.nomDistrito</td>
							<td class="align-middle">@paciente.direccion</td>
							<td class="align-middle">@paciente.ocupacion</td>
							<td class="align-middle">@paciente.lugarTrabajo</td>
							<td class="align-middle">@paciente.oficina</td>
							<td class="align-middle text-center">
								<button type="button" onclick="document.location.href='@Url.Content("~/Paciente/Edit/"+@paciente.id)'" value="Editar" class="btn btn-info">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
								</button>
							</td>
							<td class="align-middle text-center">
								<button type="button" onclick="jsDelete(@paciente.id);" value="eliminar" class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</button>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section scripts {
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
	function jsDelete(id) {
				swal({
					title: "Deseas eliminar el paciente?",
					text: "El cambio no será revertible!",
					icon: "warning",
					buttons: {
				confirm: {
					text: "Aceptar",
					value: true,
					visible: true,
					className: 'btn btn-success'
				},
				cancel: {
					text: "Cancelar",
					value: false,
					visible: true,
					className: 'btn btn-danger'
				}
			}
				})
					.then((action) => {
						if (action) {
							url = "@Url.Content("~/Paciente/Delete")" + "/" + id;

								$.post(url, function (data) {

									if (data == "1") {
										swal({
											title: "¡Paciente eliminado exitosamente!",
											icon: "success",
										});

										document.location.href = "@Url.Content("~/Paciente/")";
									}
									
								});
						} else {
							swal("Error al eliminar!");
						}
					});

		}
</script>

}
