@model PharmacyValrverd.Models.ViewModels.MedicoViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Registrar Médico";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 class="panel-title text-center">Registro Médicos</h4></div>
        <div class="panel-body">

            <div class="form-group row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    <div class="col-sm-12 col-md-8"></div>
                    <button class="btn btn-warning" onclick="document.location.href='@Url.Content("~/Medico/Index")'">Regresar <span class="glyphicon glyphicon-share" aria-hidden="true"></span></button>
                </div>
            </div>

            @using (Html.BeginForm("RegistrarMedico", "Medico", FormMethod.Post, htmlAttributes: new { @id = "formCreate" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationMessage("error", new { @class = "text-danger" })

                <div class="panel panel-default">
                    <div class="panel-heading"><h5 class="panel-title">Datos Personales</h5></div>
                    <div class="panel-body">

                        <div class="form-body form-horizontal">

                            <div class="form-group row">

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Numero, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Número", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Cedula, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Cedula", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Nombre, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.PrimerApellido, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.PrimerApellido, new { @class = "form-control" })
                                                    @Html.ValidationMessage("PrimerApellido", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.SegundoApellido, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.SegundoApellido, new { @class = "form-control" })
                                                    @Html.ValidationMessage("SegundoApellido", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Sexo, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.RadioButtonFor(m => m.Sexo, "M", new { @class = "radio-inline", @id = "rbtSexoM" }) <label class="control-label" style="margin-top: 5px;"> Masculino</label>
                                                    @Html.RadioButtonFor(m => m.Sexo, "F", new { @class = "radio-inline", @id = "rbtSexoN" }) <label class="control-label" style="margin-top: 5px;"> Femenino</label>
                                                    @Html.ValidationMessage("Sexo", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Correo, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Correo, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Correo Electrónico", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Celular, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Celular, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Celular", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Telefono, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Teléfono", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(m => m.Oficina, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextBoxFor(m => m.Oficina, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-body form-horizontal">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <div class="row_borde row">
                            <div class="col-sm-4 col-md-4">
                            </div>
                            <div class="col-sm-4 col-md-4">
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <button class="btn btn-success" id="btnGuardar">Guardar <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>







