@{
    Layout = "_Layout";
    ViewData["Title"] = "Factura";
}


<div class="container">
    <div class="panel panel-info">
        <div class="panel-heading"><h4 class="panel-title text-center">Registro Facturas</h4></div>
        <div class="panel-body">

            <div class="panel panel-default">
                <div class="panel-heading"><h5 class="panel-title">Factura</h5></div>
                <div class="panel-body">

                    <div class="form-body form-horizontal">
                        <div class="form-group row">

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">
                                        <label class="col-sm-2 col-md-6 control-label" style="text-align:start;">Tipo Id:</label>

                                        <label class="col-sm-2 col-md-6 control-label" style="text-align:start;">Cédula:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">Nombre:</label>

                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">1° Apellido:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">2° Apellido:</label>

                                        <label class="col-sm-3 col-md-6 control-label" style="text-align:start;">Sexo:</label>
                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-6">
                                            <select class="form-control" id="cmbTipo" disabled>
                                                <option value="N">Nacional</option>
                                                <option value="E">Extranjero</option>
                                            </select>
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtCedula" class="form-control" value="" />
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtNombre" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtApellido1" disabled="disabled" class="form-control" value="" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" id="txtApellido2" disabled="disabled" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <select class="form-control" id="cmbSexo" disabled>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">
                                        <label class="col-sm-2 col-md-7 control-label" style="text-align:start;">F. Nacim:</label>

                                        <label class="col-sm-4 col-md-5 control-label" style="text-align:center;">Edad:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-3 col-md-7 control-label" style="text-align:start;">Facturar a:</label>

                                        <label class="col-sm-4 col-md-5 control-label" style="text-align:center;"># Factura:</label>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="col-sm-2 col-md-4 control-label" style="text-align:start;">Médico:</label>
                                    </div>

                                </div>
                            </div>


                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4">

                                        <div class="col-sm-2 col-md-8">
                                            <input type="text" class=" form-control" id="dtFecha" disabled="disabled">
                                        </div>

                                        <div class="col-sm-2 col-md-4">
                                            <input type="text" class="form-control" id="txtEdad" disabled="disabled" value="" />
                                        </div>

                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-8">
                                            <input type="text" id="txtFacturar" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-4">
                                            <input type="text" id="txtNumFactura" disabled="disabled" class="form-control" value="" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-2 col-md-12">
                                            <select class="form-control" id="cmbMedicos">
                                            </select>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-4"></div>

                                    <div class="col-md-4">

                                        <div class="col-sm-1 col-md-1">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>

                                        <div class="col-sm-1 col-md-6">
                                            <label class="form-check-label" style="text-align:start;">Embarazo</label>
                                        </div>

                                        <div class="col-sm-1 col-md-1">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>

                                        <div class="col-sm-1 col-md-3">
                                            <label class="form-check-label" style="text-align:end;">Muestra</label>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="col-sm-1 col-md-1">
                                            <input class="form-check-input" type="checkbox" value="" />
                                        </div>

                                        <div class="col-sm-1 col-md-3">
                                            <label class="form-check-label" style="text-align:start;">Urgente</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h5 class="panel-title">Detalle</h5></div>
                <div class="panel-body">

                    <div class="form-body form-horizontal">
                        <div class="form-group row">

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-8">
                                        <label class="col-sm-2 col-md-2 control-label" style="text-align:start;">Número:</label>

                                        <label class="col-sm-2 col-md-6 control-label" style="text-align:start;">Descripción:</label>

                                        <label class="col-sm-2 col-md-2 control-label" style="text-align:start;">Cantidad:</label>

                                    </div>

                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12">
                                <div class="row_borde row form-group">

                                    <div class="col-md-8">
                                        <div class="col-sm-2 col-md-2">
                                            <input type="text" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-6">
                                            <input type="text" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-2">
                                            <input type="text" class="form-control" value="" />
                                        </div>

                                        <div class="col-sm-2 col-md-2">
                                            <button class="btn btn-info" id="btnBuscar"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="form-body form-horizontal">
                        <div class="form-group row">

                            <div class="col-md-8">
                                <table id="tablaDetalle" class="table table-bordered table-hover" style="width: 100%">
                                    <colgroup>
                                        <col span="1" style="width: 20%;">
                                        <col span="1" style="width: 5%;">
                                        <col span="1" style="width: 10%;">
                                        <col span="1" style="width: 10%;">
                                        <col span="1" style="width: 15%;">
                                    </colgroup>
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Detalle</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">P.Uni</th>
                                            <th scope="col">Total</th>
                                            <th scope="col">Entrega</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                            <div class="col-md-4">
                                <table id="tablaPerfiles" class="table table-responsive nowrap" style="width: 100%">
                                    <colgroup>
                                        <col span="1" style="width: 20%;">
                                    </colgroup>
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Perfil/Examen</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading"><h5 class="panel-title">Datos Clínicos</h5></div>
                <div class="panel-body">

                    <div class="form-body form-horizontal">

                        <div class="form-group row">

                            @*<div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.ObservacionGeneral, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextAreaFor(d => d.ObservacionGeneral, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Observación General", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12">
                                    <div class="row_borde row form-group">

                                        <div class="col-md-4">
                                            <div class="row_borde row">
                                                @Html.LabelFor(d => d.ObservacionEspecifica, new { @class = "col-sm-2 col-md-4 control-label" })
                                                <div class="col-sm-8 col-md-8">
                                                    @Html.TextAreaFor(d => d.ObservacionEspecifica, new { @class = "form-control" })
                                                    @Html.ValidationMessage("Observación Específica", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>*@
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>

    <script>

        $(document).ready(function () {

            obtenerConsecutivoFactura();
            obtenerMedicos();

            $("#txtCedula").keypress(function (e) {
                if (e.which == 13) {
                    e.preventDefault();

                    var fecha = new Date();
                    var anio = fecha.getFullYear();

                    $.getJSON('/Factura/BuscarPacienteCedula', { descripcion: $('#txtCedula').val() },
                        function (data) {
                            $("#cmbTipo").val(data.tipoId);

                            $("#txtNombre").val(data.nombre);
                            $("#txtApellido1").val(data.primerApellido);
                            $("#txtApellido2").val(data.segundoApellido);
                            $("#cmbSexo").val(data.sexo);

                            $("#dtFecha").val(moment(data.fechaNacimiento, 'YYYY-MM-DD HH:mm:ss a').format('DD/MM/YYYY'));
                            $("#txtEdad").val(anio - moment(data.fechaNacimiento, 'YYYY-MM-DD HH:mm:ss a').format('YYYY'));

                            $("#txtFacturar").val(data.primerApellido + ' ' + data.nombre);

                        });
                }
            });

        });

        function obtenerConsecutivoFactura() {

            $.getJSON('/Factura/ObtenerConsecutivoFactura',
                function (data) {
                    $("#txtNumFactura").val(data);

                });
        }

        function obtenerMedicos() {

            $.getJSON('/Factura/ObtenerMedicos',
                function (data) {
                    
                    $.each(data, function () {
                        $("#cmbMedicos").append('<option value=' + this.id + '>' + this.nombre + '</option>');
                    });
                });
        }

    </script>

}
